
  .search-banner {
    display: block;
    margin: 34px auto 0;
    width: 100%;
    max-width: 750px
  }

  .search-banner .search-input {
    background-color: #fff;
    height: 70px;
    padding: 24px 0 24px 24px;
    border-radius: 12px;
    font-size: 18px
  }

  .search-banner .search-input::-webkit-input-placeholder {
    color: #b8b4b4
  }

  .search-banner .search-input::-moz-placeholder {
    color: #b8b4b4
  }

  .search-banner .search-input:-ms-input-placeholder {
    color: #b8b4b4
  }

  .search-banner .search-input::-ms-input-placeholder {
    color: #b8b4b4
  }

  .search-banner .search-input::placeholder {
    color: #b8b4b4
  }
