    @-webkit-keyframes progress {
      0% {
        transform: translateX(-100%)
      }

      100% {
        transform: translateX(100%)
      }
    }

    @keyframes progress {
      0% {
        transform: translateX(-100%)
      }

      100% {
        transform: translateX(100%)
      }
    }

    app-header-stores {
      width: 100%;
      margin: 0 auto;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9;
      pointer-events: none
    }

    .stores-list-cont {
      pointer-events: all;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: row;
      position: absolute;
      left: 0;
      top: 70px;
      bottom: 0;
      width: 0;
      border-radius: 0 0 4px 4px;
      transition-delay: .45s;
      transition: all .3s ease
    }

    .stores-list-cont .loading-stores {
      width: 100%
    }

    .stores-list-cont.show-menu {
      width: 270px
    }

    .stores-list-cont.show-menu .stores {
      padding: 30px 20px
    }

    .stores-list-cont.show-submenu {
      width: calc(100% - 100px);
      max-width: 1280px;
      transition: all .6s ease
    }

    .stores-list-cont .stores {
      width: 270px;
      background-color: #fff;
      box-shadow: 5px 0 8px -2px rgba(0, 0, 0, .05);
      transition: all .3s ease;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch
    }

    .stores-list-cont .stores::-webkit-scrollbar-track {
      border-radius: 20px;
      background-color: transparent
    }

    .stores-list-cont .stores::-webkit-scrollbar {
      width: 4px
    }

    .stores-list-cont .stores::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #fafaf8
    }

    .stores-list-cont .stores>ul {
      width: 230px;
      white-space: nowrap;
      padding: 0 0 10px;
      opacity: 1;
      box-shadow: none;
      overflow: auto
    }

    .stores-list-cont .stores>ul>li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      min-height: 35px;
      line-height: 2;
      vertical-align: top;
      transition: all .3s linear
    }

    .stores-list-cont .stores>ul>li.special-links {
      border-top: 1px solid #e5edef;
      padding: 10px 0;
      margin-top: 10px
    }

    .stores-list-cont .stores>ul>li.special-links li:hover {
      background-color: #fafaf8;
      z-index: -1
    }

    .stores-list-cont .stores>ul>li.special-links li.active {
      background-color: #fafaf8
    }

    .stores-list-cont .stores>ul>li.special-links li.active a {
      color: #ff441f
    }

    .stores-list-cont .stores>ul>li.normal-stores {
      cursor: pointer
    }

    .stores-list-cont .stores>ul>li.normal-stores:hover {
      background-color: #fafaf8;
      z-index: -1
    }

    .stores-list-cont .stores>ul>li.normal-stores>a {
      cursor: pointer
    }

    .stores-list-cont .stores>ul>li.view-more-stores {
      text-transform: uppercase;
      width: 100%;
      padding-left: 50px;
      cursor: pointer;
      color: #ff441f
    }

    .stores-list-cont .stores>ul>li.view-more-stores a {
      font-size: 12px;
      font-family: Poppins-SemiBold, Helvetica, Arial, sans-serif
    }

    .stores-list-cont .stores>ul>li a {
      display: block;
      transition: all .3s linear;
      text-align: left;
      color: #b8b4b4;
      font-size: 14px;
      padding: 0 10px;
      position: relative
    }

    .stores-list-cont .stores>ul>li a i {
      color: currentColor;
      font-size: 20px;
      vertical-align: middle;
      padding-right: 5px
    }

    .stores-list-cont .stores>ul>li .new-button {
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 20px;
      display: block;
      background-color: #ff2425;
      box-shadow: 0 8px 20px 0 rgba(255, 36, 37, .25);
      color: #fff;
      font-size: 8px;
      letter-spacing: 1px;
      line-height: 20px;
      padding: 0 10px;
      border-radius: 10px;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite
    }

    .stores-list-cont .stores>ul>li .sub-stores {
      overflow: hidden
    }

    .stores-list-cont .stores>ul>li .sub-stores>div>span {
      display: block;
      width: 100%;
      height: 135px;
      overflow: hidden
    }

    .stores-list-cont .stores>ul>li .sub-stores li {
      transition: all .4s ease
    }

    .stores-list-cont .stores>ul>li .sub-stores li .store-with-options {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: row
    }

    .stores-list-cont .stores>ul>li .sub-stores li .store-with-options p {
      flex: 1;
      color: #b8b4b4;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
    }

    .stores-list-cont .stores>ul>li .sub-stores li a {
      color: #b8b4b4;
      font-weight: 400;
      padding-left: 50px;
      padding-right: 0;
      position: relative
    }

    .stores-list-cont .stores>ul>li .sub-stores li span {
      position: absolute;
      right: 0;
      opacity: 0;
      transition: all .3s linear
    }

    .stores-list-cont .stores>ul>li .sub-stores li span i {
      font-size: 16px
    }

    .stores-list-cont .stores>ul>li .sub-stores li.active,
    .stores-list-cont .stores>ul>li .sub-stores li:hover {
      background-color: #fafaf8
    }

    .stores-list-cont .stores>ul>li .sub-stores li.active span,
    .stores-list-cont .stores>ul>li .sub-stores li:hover span {
      opacity: 1
    }

    .stores-list-cont .stores>ul>li .sub-stores li.active:hover,
    .stores-list-cont .stores>ul>li .sub-stores li:hover:hover {
      background-color: transparent
    }
